<!doctype html>
<head>
<title>Learning Node.js,React.js,React-router,React-redux</title>
<body>
  Hello
 <div class="main"></div>
 <script type="text/javascript" src="views/build/bundle.js"></script>
</body>
</head>
</html>
